name: "Deploy AWS DEV"

on:
  workflow_dispatch:
    inputs:
      directory:
        description: "Caminho do diretório Terraform (ex: terraform-infrastructure/asm-site/dev)"
        required: true
        type: string

jobs:
  deploy:
    name: "Run Terraform Workflow"
    uses: ./.github/workflows/terraform-deploy.yml  # Chama o workflow reutilizável
    with:
      directory: ${{ inputs.directory }}  # Passa o diretório como input
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
